extends layout

block body
	#header
		#logo
			.text Gotham Transit
			img(src="/static/batman.png")
			.aligner
		#filterBar
			.wrapper
				input#input(placeholder="Search for a line..." ng-model="filter" ng-change="setFilter()")

	#results
		ul
			li.line(ng-repeat="line in lines | orderBy:['-isFavorite', 'type']" ng-show="searchFilter()")
				.wrapper
					.type
						.aligner
						img(ng-show="line.type == 'lirr'" src="/static/glyphs/glyphicons-15-train.png")
						img(ng-show="line.type == 'bt'" src="/static/glyphs/glyphicons-29-cars.png")
						img(ng-show="line.type == 'bus'" src="/static/glyphs/glyphicons-32-bus.png")
						img(ng-show="line.type == 'metronorth'" src="/static/glyphs/glyphicons-15-train.png")
						img(ng-show="line.type == 'subway'" src="/static/glyphs/glyphicons-458-transfer.png")
					.background
					.time {{ line.time }}
					.name
						.text {{ line.name }}
					.status
						.text.change(ng-if="line.status == 'service change'" ng-click="showText()") STATUS CHANGE
						.text.good(ng-if="line.status == 'good service'") GOOD SERVICE
						.text.work(ng-if="line.status == 'planned work'" ng-click="showText()") PLANNED WORK
						.text.delays(ng-if="line.status == 'delays'") DELAYS
					.star
						img(ng-hide="line.isFavorite" ng-click="addFavorite()" src="/static/star0.png")
						img(ng-show="line.isFavorite" ng-click="removeFavorite()" src="/static/star1.png")

	#textDisplay(ng-show="doShowText")
		.text(ng-bind-html="text")
		.button(ng-click="closeText()") OK


	#shader(ng-show="doShowShader")
	#background
		img(src="/static/map.jpg")
