doctype default
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		script(src="static/jquery.min.js" type="application/javascript")
		script(src="static/angular.min.js" type="application/javascript")
		script(src="static/angular/gothamTransit.module.js" type="application/javascript")
		link(rel="stylesheet" type="text/css" href="static/main.css")
	body(ng-app="gothamTransit")
		div(ng-controller="main")
			block body
